{{ define "main" }}
  {{- partial "hero.html" . -}}
  <hr class="border-0 dark:border-border-dark border-border border-t max-w-xs mx-auto">
  {{- partial "experience.html" . -}}
  <hr class="border-0 dark:border-border-dark border-border border-t max-w-xs mx-auto">
  {{- partial "skills.html" . -}}
  <hr class="border-0 dark:border-border-dark border-border border-t max-w-xs mx-auto">
  {{- partial "education.html" . -}}
  <hr class="border-0 dark:border-border-dark border-border border-t max-w-xs mx-auto">
  {{- partial "contact.html" . -}}
{{ end }}
